* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 53px 0px 57px;
}

.logo {
  display: flex;
  gap: 10px;
}
.logo__text {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  font-size: 40px;
}

.nav__ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
}
.nav__link {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  font-size: 20px;
  line-height: 125%; /* 25px */
  letter-spacing: 0;
  text-decoration: none;
}

.top__box {
  background-image: url(img/Main/top_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 208px 0px 208px 52px;
  overflow: hidden;
  margin-bottom: 96px;
}
.top__title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  font-size: 65px;
  max-width: 434px;
  margin-bottom: 16px;
}
.top__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  font-size: 22px;
  max-width: 434px;
  margin-bottom: 21px;
}

.button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 26px 48px;
  background-color: #292F36;
  border-radius: 18px;
}
.button__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  color: #fff;
  font-size: 18px;
  line-height: 125%; /* 22.5px */
  letter-spacing: 0.36px;
}

.projects {
  margin-bottom: 96px;
}
.projects__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 108px;
       column-gap: 108px;
  row-gap: 56px;
}
.projects__title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  font-size: 50px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-align: center;
}
.projects__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  font-size: 22px;
  margin-bottom: 93px;
  padding: 0 17%;
  text-align: center;
}

.card {
  position: relative;
}
.card__img-box {
  margin-bottom: 24px;
  overflow: hidden;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__img {
  border-top-right-radius: 80px;
}
.card__title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  font-size: 25px;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
}
.card__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  font-size: 22px;
}
.card__img-box_radius-tr {
  border-top-right-radius: 80px;
}
.card__img-box_radius-tl {
  border-top-left-radius: 80px;
}
.card__img-box_radius-br {
  border-bottom-right-radius: 80px;
}
.card__img-box_radius-bl {
  border-bottom-left-radius: 80px;
}
.card__img-box-radius_double {
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
}
.card__title_margin {
  margin: 21px 0 30px;
}
.card__title_font-size {
  font-size: 25px;
}
.card_desc_1::after {
  position: absolute;
  top: 228px;
  left: 20px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  font-size: 16px;
  letter-spacing: 0.16px;
  padding: 8px 11px;
  background-color: #fff;
  border-radius: 8px 8px 8px 0px;
  content: "Kitchan Design";
}
.card_desc_2::after {
  position: absolute;
  top: 228px;
  left: 20px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  font-size: 16px;
  letter-spacing: 0.16px;
  padding: 8px 11px;
  background-color: #fff;
  border-radius: 8px 8px 8px 0px;
  content: "Living Design";
}
.card_desc_3::after {
  position: absolute;
  top: 228px;
  left: 20px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  font-size: 16px;
  letter-spacing: 0.16px;
  padding: 8px 11px;
  background-color: #fff;
  border-radius: 8px 8px 8px 0px;
  content: "Interior Design";
}

.button-round {
  border-radius: 50%;
  border-color: transparent;
}
.button-round_margin-bottom {
  margin-bottom: 15px;
}

.results__box {
  display: flex;
  padding: 151px 0;
  margin-bottom: 96px;
  background-color: #F4F0EC;
}
.results__content {
  flex-basis: 300px;
  border-left: 1px solid #CDA274;
  border-right: 1px solid #CDA274;
}
.results__digit {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  font-size: 85px;
  letter-spacing: 1.7px;
  color: #CDA274;
  text-align: center;
  margin-bottom: 16px;
}
.results__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  font-size: 22px;
  letter-spacing: 1.7px;
  text-align: center;
}
.results__content_border-left {
  border-left: 1px solid transparent;
}
.results__content_border-right {
  border-right: 1px solid transparent;
}

.blog {
  margin-bottom: 96px;
}
.blog__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 27px;
       column-gap: 27px;
}
.blog__title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  font-size: 50px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-align: center;
}
.blog__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  font-size: 22px;
  margin-bottom: 93px;
  padding: 0 17%;
  text-align: center;
}
.blog__card-box {
  padding: 21px;
  border: 1px solid #E7E7E7;
  border-radius: 62px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 134px;
}
.footer__left {
  padding-right: 10px;
}
.footer__center {
  padding-left: 101px;
}
.footer__right {
  padding: 0 5px 0 140px;
}
.footer__text {
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  font-size: 22px;
  margin: 18px 0 31px;
}
.footer__link_margin {
  margin-right: 54px;
}
.footer__title {
  color: #292F36;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  font-size: 25px;
}
.footer__nav_flex {
  list-style-type: none;
  flex-direction: column;
  gap: 0px;
}
.footer__nav__link_font {
  font-size: 22px;
  line-height: 300%; /* 66px */
}
.footer__text_lign-height {
  line-height: 300%;
}/*# sourceMappingURL=main.css.map */